<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="instagramdemo.arutha.com.instagramdemo">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="instagramdemo.arutha.com.flows.InstagramApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="instagramdemo.arutha.com.InstagramAuthorize.InstagramAutho"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name="instagramdemo.arutha.com.instagramdemo.InstagramDemoMainFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>


</manifest>
